<app-search></app-search>
<app-tags></app-tags>
<app-not-found
  [visible]="!lingeries || !lingeries.length || !isLoadingComponentPresent()"
  resetLinkText="Reset Search"
>
</app-not-found>
<ul>
  <li *ngFor="let lingerie of lingeries">
    <a routerLink="/lingerie/{{ lingerie.id }}">
      <img [src]="lingerie.imageUrl" [alt]="lingerie.name" />
      <div class="content">
        <div class="name">
          {{ lingerie.name }}
        </div>
        <span class="favorite {{ lingerie.favorite ? '' : 'not' }}"> ❤ </span>
        <div class="stars">
          <ngb-rating [max]="5" [(rate)]="lingerie.stars" [readonly]="true">
          </ngb-rating>
        </div>
        <div class="price">
          <span>
            {{ lingerie.price | currency : "Sh. " }}
          </span>
        </div>
      </div>
    </a>
  </li>
</ul>
