h1 {
  color: var(--strong);
  font-family: "Dancing Script", cursive;
  font-weight: 800;
  background-color: var(--tertiary);
  border-radius: 10rem 10rem 0 0;
  width: 80%;
  padding: 1rem 3rem 1rem 3rem;
}
