.content {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  padding: 0;
  font-family: "EB Garamond", serif;
  height: 1.5rem;
}

.container {
  display: flex;

  justify-content: center;
  align-items: center;
  font-family: "EB Garamond", serif;
  width: 100%;
  padding: 0;
  margin: 0;
  color: var(--links);
}
p {
  padding: 0;
  margin: 0;
  align-self: center;
}

footer {
  width: 100vw;
}
