<table>
  <tr>
    <td colspan="5">
      <h3>Order Items:</h3>
    </td>
  </tr>
  <tr *ngFor="let item of order.items">
    <td>
      <a routerLink="/lingerie/{{ item.lingerie.id }}">
        <img [src]="item.lingerie.imageUrl" alt="{{ item.lingerie.name }}" />
      </a>
    </td>
    <td>
      {{ item.lingerie.name }}
    </td>
    <td>
      {{ item.lingerie.price | currency : "Sh. " }}
    </td>
    <td>
      {{ item.quantity }}
    </td>
    <td>
      {{ item.price | currency : "Sh. " }}
    </td>
  </tr>
  <tr>
    <td colspan="3"></td>
    <td>
      <strong>Total: </strong>
    </td>
    <td>
      <strong>
        {{ order.totalPrice | currency : "Sh." }}
      </strong>
    </td>
  </tr>
</table>
