.container {
  margin-top: 1rem;
  display: flex;
  margin: 0 2rem 6rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "EB Garamond", serif;
  width: 100%;
}

.content {
  width: 45rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.summary > div {
  display: flex;
  margin-top: 0.7rem;
  align-items: flex-end;
  color: var(--shadowSaturated);
}

.summary span {
  font-size: 1.2rem;
  align-items: flex-end;
  justify-content: center;
}

.summary h3 {
  margin: 0 1rem 0 0;
}
