.container {
  margin-top: 1rem;
  display: flex;
  margin: 0 2rem 6rem 2rem;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "EB Garamond", serif;
  width: 100%;
  height: 100%;
}

.content {
  width: 45rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
}

.summary > div {
  display: flex;
  padding-top: 0.7rem;
  align-items: flex-start;
  color: var(--links);
}

.summary span {
  font-size: 1.2rem;
  align-items: flex-end;
  justify-content: center;
}

.summary {
  background-color: var(--shadowSaturated);
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
  border: 1px solid var(--brighterColor);
}

.summary h3 {
  margin: 0 1rem 0 0;
}

@media screen and (max-width: 550px) {
  .content {
    margin: auto;
  }
  .container {
    margin: 0;
  }
}
