.container {
  height: 100%;
  padding-top: 1rem;
  width: 100vw;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-bottom: 2rem;
}
.summary {
  width: 100%;
  overflow-x: auto;
}

table {
  background-color: var(--strong);
  width: 100%;
  border-collapse: collapse;
}

thead.main {
  color: var(--brighterColor);
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
  background-color: var(--shadowSaturated);
}

tbody {
  font-family: "EB Garamond", serif;
  color: var(--links);
}

th,
td {
  border-bottom: 1px solid var(--tertiary);
  padding: 0.5rem;
  text-align: center;
  border-right: 1px solid var(--tertiary);

  overflow: hidden; /* Hide overflowing content */
  text-overflow: ellipsis; /* Display ellipsis (...) for overflow */
}

th:last-child,
.last {
  border-right: none;
}

.name {
  text-align: left;
}

p {
  font-family: "EB Garamond", serif;
  color: var(--shadowSaturated);
}

p.mobile {
  display: none;
}

@media screen and (max-width: 550px) {
  .container {
    margin-top: 0;
  }
  .content {
    gap: 1rem;
  }
  thead.main {
    font-size: 1.2rem;
  }
  .paymentId {
    word-wrap: break-word;
    width: 15% !important;
  }
  p.mobile {
    display: flex;
    margin: 0;
    padding: 0;
  }
}
