<div class="container">
  <div class="content">
    <app-title title="Orders" fontSize="1.6rem"></app-title>
    <div class="summary">
      <table *ngIf="orders">
        <thead class="main">
          <tr>
            <th>Payment ID</th>
            <th>Date</th>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Status</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let order of orders">
            <td>{{ order.paymentId }}</td>
            <td>{{ order.createdAt | date : "yyyy-MM-dd" }}</td>
            <ng-container *ngFor="let item of order.items">
              <td class="name">{{ item.lingerie.name }}</td>
              <td>{{ item.price }}</td>
              <td>{{ item.quantity }}</td>
              <td [attr.rowspan]="order.items.length">
                {{ order.totalPrice }}
              </td>
              <td [attr.rowspan]="order.items.length">{{ order.status }}</td>
            </ng-container>
          </tr>
        </tbody>
      </table>
      <p *ngIf="orders && orders.length === 0">No orders available.</p>
      <p *ngIf="!orders">Loading orders...</p>
    </div>
  </div>
</div>
