<header>
  <div class="container">
    <a routerLink="/" class="logo">FreakyLink</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li class="menuContainer">
          <a routerLink="/dashboard">Athena</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/orders">Orders</a>
            <a>Logout</a>
          </div>
        </li>
        <li>
          <a routerLink="/cartPage">Cart <span>3</span></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
