header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--secondary);
  padding: 0;
  font-family: "Dancing Script", cursive;
  height: 6rem;
}

img {
  border-radius: 50%;
  justify-content: flex-start;
  width: 4.5rem;
}

img:hover {
  opacity: 0.7;
  cursor: pointer;
}

a {
  color: var(--links);
  align-self: center;
}

a:hover {
  background: var(--tertiary);
  color: var(--secondary);
  cursor: pointer;
}

a:hover span {
  background-color: var(--secondary);
  color: var(--links);
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

a.logo {
  font-weight: bold;
  font-size: 2.2rem;
  padding: 1rem;
  align-self: center;
}

ul {
  display: flex;
  list-style-type: none;
  align-self: center;
  margin: 0;
}

ul a {
  padding: 1rem;
  display: inline-block;
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}

a span {
  background-color: var(--links);
  color: var(--secondary);
  padding: 0.1rem 0.45rem;
  border-radius: 100rem;
  font-size: 0.9rem;
}

.menuContainer {
  position: relative;
}

.menu {
  position: absolute;
  z-index: 1;
  background: var(--secondary);
  display: none;
}

.menuContainer:hover .menu {
  display: block;
}

.menu a {
  width: 100%;

  color: var(--links);
}

.menu a:hover {
  color: var(--secondary);
}

.cart {
  align-self: center;
}

.left {
  align-items: center;
  display: flex;
  width: 60%;
}

@media screen and (max-width: 770px) {
  img {
    width: 4rem;
  }
  a.logo {
    font-size: 1.5rem;
  }
  ul a {
    font-size: 1.3rem;
    padding-left: 0.4rem;
    padding-right: 0.3rem;
  }
  a span {
    font-size: 0.6rem;
  }
  .cart a {
    display: flex;
    justify-content: space-around;
    gap: 0.2rem;
  }
  .cart {
    align-items: center;
    align-self: center;
    align-content: center;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 520px) {
  .header {
    height: 4.5rem;
  }
  img {
    width: 3rem;
  }
  a.logo {
    font-size: 1.3rem;
  }
  ul a {
    font-size: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.3rem;
  }
  .cart a {
    display: flex;
    justify-content: space-around;
    gap: 0.2rem;
  }
  a span {
    font-size: 0.5rem;
    padding: 0.1rem 0.35rem;
    border-radius: 200px;
  }
  .cart {
    align-items: center;
    align-self: center;
    align-content: center;
  }
  nav ul {
    padding-left: 0;
  }
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 372px) {
  a.logo {
    font-size: 1.2rem;
  }
}
