<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<header>
  <div class="container">
    <div class="left">
      <img
        routerLink="/"
        src="../../../../assets/freaky_link_logo.png"
        alt="Logo for the Freaky Link"
      />
      <a routerLink="/" class="logo">The Freaky Link</a>
    </div>
    <nav>
      <ul>
        <li *ngIf="!user.token">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menuContainer">
          <a>{{ user.name }}</a>
          <div class="menu">
            <a routerLink="/profile" (click)="closeMenu()">Profile</a>
            <a routerLink="/orders" (click)="closeMenu()">Orders</a>
            <a (click)="logout()">Logout</a>
          </div>
        </li>
        <li class="cart">
          <a routerLink="/cart-page"
            >Cart <span *ngIf="cartQuantity">{{ cartQuantity }}</span></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
