div {
  display: flex;
  justify-content: center;

  margin: 1.5rem auto;
  width: 60%;
}

input {
  border-radius: 10rem 0 0 10rem;
  border: 1px solid var(--brighterColor);
  height: 3rem;
  width: 80%;
  background-color: var(--secondary);
  padding: 1.2rem;
  font-weight: 500;
  font-size: 1.1rem;
  outline: none;
  color: var(--links);
  font-family: "EB Garamond", serif;
}

::placeholder {
  color: var(--primary);
}

div button {
  color: var(--links);
  height: 3rem;
  width: 20%;
  font-size: 1rem;
  border-radius: 0 10rem 10rem 0;
  background-color: var(--shadowSaturated);
  opacity: 1;
  outline: none;
  border: 1px solid var(--brighterColor);
  border-left: none;
}

div button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 520px) {
  input {
    height: 2rem;
    font-size: 1rem;
  }
  div button {
    height: 2.55rem;
    text-align: center;
    align-content: center;
    align-self: center;
    font-size: 0.9rem;
  }

  div {
    margin: 0.5rem auto;
    width: 80%;
  }
}
