.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 45rem;
  gap: 1.5rem;
}

h1 {
  color: var(--strong);
  font-family: "Dancing Script", cursive;
}

.details > div {
  color: var(--shadowSaturated);
  font-family: "EB Garamond", serif;
  margin: 1rem;
  font-size: 1.1rem;
}

.details > div:last-child {
  margin-bottom: 0;
}

.details strong {
  display: inline-block;
  width: 40%;
}

@media screen and (max-width: 550px) {
  h1 {
    text-align: center;
  }
  .content {
    gap: 1rem;
  }
  .details > div:first-child {
    margin-top: 0;
  }
}
