<div class="container">
  <div class="content" *ngIf="order">
    <h1>Order #{{ order.id }}</h1>
    <div class="details">
      <div><strong>Date</strong> {{ order.createdAt | date : "medium" }}</div>
      <div><strong>Name</strong> {{ order.name }}</div>
      <div><strong>Email</strong> {{ order.email }}</div>
      <div><strong>Phone Number</strong> {{ order.phoneNumber }}</div>
      <div><strong>Address</strong> {{ order.address }}</div>
      <div><strong>Status</strong> {{ order.status }}</div>
      <div>
        <strong *ngIf="order.paymentId">Payment ID</strong>
        {{ order.paymentId }}
      </div>
      <order-items-list [order]="order"></order-items-list>
      <map [order]="order" [readonly]="true"></map>
    </div>
  </div>
</div>
