<!-- eslint-disable @angular-eslint/template/label-has-associated-control -->
<app-title title="Login"></app-title>
<div class="container">
  <div class="details">
    <form [formGroup]="loginForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc['email']"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      >
      </text-input>

      <div class="inputContainer">
        <label>Password</label>
        <div>
          <input
            type="password"
            placeholder="Password"
            formControlName="password"
          />
        </div>
        <div class="errorList" *ngIf="fc['password'].errors && isSubmitted">
          <div *ngIf="fc['password'].errors['required']">
            Should not be empty
          </div>
        </div>
      </div>
      <div class="button">
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
