.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
  font-family: "EB Garamond", serif;
}

.details {
  width: 28rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--shadowSaturated);
}

.register a {
  color: var(--brighterColor);
  opacity: 1;
}

.register a:hover {
  opacity: 0.8;
}
