.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 3rem;
  font-family: "EB Garamond", serif;
}

.details {
  width: 28rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
