<app-title width="60%" title="Register"></app-title>
<div class="container">
  <div class="details">
    <form [formGroup]="registerForm" (ngSubmit)="submit()">
      <text-input
        [control]="fc['name']"
        [showErrorsWhen]="isSubmitted"
        label="Name"
      ></text-input>
      <text-input
        [control]="fc['email']"
        [showErrorsWhen]="isSubmitted"
        type="email"
        label="Email"
      ></text-input>
      <text-input
        [control]="fc['phoneNumber']"
        [showErrorsWhen]="isSubmitted"
        type="text"
        label="Phone Number"
      ></text-input>
      <text-input
        [control]="fc['password']"
        [showErrorsWhen]="isSubmitted"
        label="Password"
        type="password"
      ></text-input>
      <text-input
        [control]="fc['confirmPassword']"
        [showErrorsWhen]="isSubmitted"
        label="Confirm Password"
        type="password"
      ></text-input>
      <text-input
        [control]="fc['address']"
        [showErrorsWhen]="isSubmitted"
        label="Address"
        type="text"
      ></text-input>
      <default-button text="Register"></default-button>
      <div class="login">
        Already a user? &nbsp;
        <a routerLink="/login" [queryParams]="{ returnUrl: returnUrl }"
          >Login</a
        >
      </div>
    </form>
  </div>
</div>
