/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html,
button {
  font-family: "EB Garamond", serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}
