<app-not-found
  [visible]="!lingerie.id"
  resetLinkText="Back To Homepage"
  notFoundMessage="Lingerie Not Found"
>
</app-not-found>

<div *ngIf="lingerie.id" class="container">
  <img [src]="lingerie.imageUrl" [alt]="lingerie.name" />

  <div class="details">
    <div class="header">
      <span class="name">
        {{ lingerie.name }}
      </span>
      <span class="favorite {{ lingerie.favorite ? '' : 'not' }}"> ❤ </span>
    </div>
    <div class="rating">
      <ngb-rating [max]="5" [(rate)]="lingerie.stars" [readonly]="true">
      </ngb-rating>
    </div>
    <div class="tags">
      <a *ngFor="let tag of lingerie.tags" routerLink="/tag/{{ tag }}">{{
        tag
      }}</a>
    </div>
    <div class="description">
      <span>
        {{ lingerie.description }}
      </span>
    </div>
    <div class="price">
      <span>
        {{ lingerie.price | currency : "Sh. " }}
      </span>
    </div>
    <button (click)="addToCart()">Add To Cart</button>
  </div>
</div>
