<div class="container">
  <div class="introduction">
    <app-search></app-search>
    <div class="text">
      <h1>The Freaky Link</h1>
      <p>
        We only have one mission: to make the world a better place by delivering
        pleasure. We aim to provide a discreet online environment for you to
        shop from the comfort of wherever you are, with full assurance that
        you’ll get exactly what you desire.
      </p>
      <button type="button">Explore More!</button>
    </div>
    <div class="main">
      <a routerLink="/home">
        ><img
          src="../../../../assets/lingerie_1.jpeg"
          alt="Woman in dress and tutu sitting on floor seductively."
      /></a>
    </div>
  </div>
</div>
