* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
  width: 100vw;
}

.introduction {
  display: flex;
  flex-direction: column;
  background-color: #1f1a1f;

  margin: 0;
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 16px 60px;
  gap: 72px;
  padding-bottom: 48px;
}

.main img {
  display: flex;
  border-radius: 10%;
  min-width: 300px;
  min-height: auto;
  width: 100%;
  height: auto;
  flex: 50%;
  object-fit: contain;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-weight: 800;
  color: var(--links);
}

.text {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 400px;
  flex-shrink: 0;
  text-align: center;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
}

p {
  color: var(--links);
}

button {
  color: var(--shadowSaturated);
  background-color: var(--links);
  font-family: "Dancing Script", cursive;
  width: 60%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.categories {
  display: flex;
  padding: 1.5rem 60px;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
}

.categoriesContainer {
  display: flex;
  flex: 25%;
  gap: 32px;
  padding-bottom: 16px;
}
.choose img {
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 150px;
  min-height: 150px;
}

.choose img:hover {
  opacity: 0.8;
}

.choose {
  min-width: 150px;
  min-height: 150px;
  aspect-ratio: 1/1;
}

.link {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--links);
  font-family: "Dancing Script", cursive;
  font-size: 24px;
}
.link a:hover {
  opacity: 0.8;
}

h2 {
  color: var(--shadowSaturated);
}
