* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0; /* Reset the default margin */
  padding: 0;
}

.container {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: "EB Garamond", serif;
  font-size: 1.3rem;
}

.introduction {
  display: flex;
  flex-direction: column;
  background-color: #1f1a1f;
  margin: 0;
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 16px 60px;
  gap: 72px;
  padding-bottom: 48px;
  width: 100vw;
}

.main img {
  display: flex;
  border-radius: 10%;
  min-width: 300px;
  min-height: auto;
  width: 100%;
  height: auto;
  flex: 50%;
  object-fit: contain;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 48px;
  font-weight: 800;
  color: var(--links);
}

.text {
  display: flex;
  flex-direction: column;
  flex: 50%;
  width: 400px;
  flex-shrink: 0;
  text-align: center;
  justify-content: space-around;
  gap: 1.5rem;
  align-items: center;
}

p {
  color: var(--links);
}

button {
  color: var(--shadowSaturated);
  background-color: var(--links);
  font-family: "Dancing Script", cursive;
  width: 60%;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  font-weight: 500;
  border: none;
  outline: none;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.categories {
  display: flex;
  padding: 1.5rem 0 0 0;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  gap: 1.5rem;
}

.categories1 {
  width: 100vw;
  overflow-x: auto;
}

.categoriesContainer {
  margin: 0 2rem;
  display: flex;
  gap: 32px;
  padding-bottom: 16px;
  flex-wrap: nowrap;
  width: calc(150px + 32px) * 4;
}

.choose img {
  width: 100%;
  height: auto;
  object-fit: contain;
  min-width: 150px;
  min-height: 150px;
  aspect-ratio: 1/1;
}

.choose img:hover {
  opacity: 0.8;
}

.link {
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--links);
  font-family: "Dancing Script", cursive;
  font-size: 1.5rem;
}
.link a:hover {
  opacity: 0.8;
}

h2 {
  color: var(--shadowSaturated);
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  background-color: var(--tertiary);
  margin-top: 48px;
  color: var(--shadowSaturated);
  font-size: 1.5rem;
  width: 100vw;
}

.quote p {
  color: var(--shadowSaturated);
}

.quote .name {
  text-align: right;
  font-size: 1.1rem;
  font-weight: 500;
}

.contact {
  width: 100vw;
}

.contactBox {
  display: flex;
  margin: 48px 80px;
  background-color: var(--links);
  padding: 16px 48px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
}

.contact .left h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  color: var(--shadowSaturated);
}

.contact .left p {
  margin-top: 4px;
  padding-top: 4px;
  color: var(--shadowSaturated);
}

.contact .right {
  width: 10rem;
}

.contact .right button {
  width: 90%;
  background-color: var(--links);
  border: 1px solid var(--shadowSaturated);
  outline: none;
}

@media screen and (max-width: 520px) {
  .container {
    font-size: 1.1rem;
  }

  .content {
    flex-direction: column;
    gap: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  .introText {
    padding: 0 2rem;
  }

  .text {
    gap: 01rem;
  }

  .contactBox {
    margin: 2rem 2rem;
    padding: 1rem 1rem;
    flex-direction: column;
  }

  button {
    height: 2rem;
    font-size: 1.2rem;
  }
}
