<div class="container">
  <div class="content">
    <app-title title="Order Form" fontSize="1.6rem" width="50%"></app-title>
    <form [formGroup]="checkoutForm">
      <text-input [control]="fc['name']" label="Name"></text-input>
      <text-input
        style="cursor: not-allowed"
        class="email"
        [control]="fc['email']"
        label="Email"
      ></text-input>
      <text-input
        [control]="fc['phoneNumber']"
        label="Phone Number"
      ></text-input>
      <text-input
        [control]="fc['address']"
        label="Address"
        [value]="address"
      ></text-input>
    </form>
    <order-items-list [order]="order"></order-items-list>
  </div>
  <div class="map">
    <app-title
      title="Choose your address on the map"
      fontSize="1.6rem"
      width="80%"
    ></app-title>
    <map (addressUpdated)="updateAddress($event)" [order]="order"></map>
  </div>
  <div class="buttonsContainer">
    <div class="buttons">
      <button (click)="createOrder()">Proceed to Payment</button>
    </div>
  </div>
</div>
